@model IEnumerable<TeduShop.Web.Models.ProductCategoryViewModel>
@*@model TeduShop.Web.Infrastructure.Core.PaginationSet<TeduShop.Web.Models.ProductViewModel>*@
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listProduct = (TeduShop.Web.Infrastructure.Core.PaginationSet<TeduShop.Web.Models.ProductViewModel>)ViewBag.listProduct;
}

<div class="col-md-3 sidebar_box">
    <div class="sidebar">
        <div class="menu_box">
            <h3 class="menu_head">Danh mục sản phẩm</h3>
            <ul class="menu">
                @foreach (var category in Model.Where(x => x.ParentID == null))
                {
                    var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
                    var childCategories = Model.Where(x => x.ParentID == category.ID);
                    <li class="item1">
                        <a href="@url">@Html.Raw(childCategories.Count() > 0 ? " <img class=\"arrow-img\" src=\"/Assets/images/f_menu.png\" alt=\"\" />" : "") @category.Name</a>
                        @if (childCategories.Count() > 0)
                        {
                            <ul class="cute">
                                @foreach (var childCategory in childCategories)
                                {
                                    var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                    <li class="subitem1"><a href="@childUrl">@childCategory.Name </a></li>
                                }
                            </ul>
                        }
                    </li>
                }


            </ul>
        </div>
        <!--initiate accordion-->
        <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                           menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
        </script>
    </div>
    <div class="delivery">
        <a href="https://www.thegioididong.com/dtdd/microsoft-lumia-540" target="_blank"><img src="/Assets/images/timthumb.jpg" class="img-responsive" alt="" /></a>
    </div>
    <div class="twitter">
        <a href="http://equest.edu.vn/" target="_blank"><img src="~/Assets/images/NOEL.jpg" class="img-responsive" /></a>
    </div>
</div>
<div class="col-md-9 content_right">
    @if (listProduct.Count > 0)
    {
        <div class="top_grid2">
            @foreach (var product in listProduct.Items)
            {
                var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                <div class="col-md-4 top_grid1-box1">
                    <a href="@url">
                        <div class="grid_1">
                            <div class="b-link-stroke b-animate-go  thickbox">
                                <img src="@product.ThumbnailImage" class="img-responsive" alt="" />
                            </div>
                            <div class="grid_2">
                                <p>@product.Name</p>
                                <ul class="grid_2-bottom">
                                    <li class="grid_2-left"><p>@(product.Price == 0 ? "Liên hệ" : product.Price.ToString("N0")) VNĐ</p></li>
                                    <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline btnAddToCart" target="_self" title="Get It" data-id="@product.ID">Thêm</div></li>
                                    <div class="clearfix"> </div>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            }
            
            <div class="clearfix"> </div>
            @if (listProduct.TotalPages > 1)
            {
                // Create numeric links
                var startPageIndex = Math.Max(1, listProduct.PageIndex - listProduct.MaxPage / 2);
                var endPageIndex = Math.Min(listProduct.TotalPages, listProduct.PageIndex + listProduct.MaxPage / 2);

                <nav>
                    <ul class="pagination"> 
                        @if (listProduct.PageIndex > 1)
                        {
                            <li>
                                <a href="?page=1" aria-label="First">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@(listProduct.PageIndex - 1)" aria-label="Previous">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (listProduct.PageIndex == i)
                            {
                                <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="?page=@i" title="Trang @i">@i</a></li>
                            }
                        }
                        @if (listProduct.PageIndex < listProduct.TotalPages)
                        {
                            <li>
                                <a href="?page=@(listProduct.PageIndex + 1)" aria-label="Next">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@listProduct.TotalPages" aria-label="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    }
    else
    {
        <div class="text-center">Không có bản ghi nào được tìm thấy</div>
    }

</div>


