@model TeduShop.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about">
    <div class="container">
        <div class="register">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <div class="register-top-grid">
                    <h3>Thông tin cá nhân</h3>
                    <div>
                        <span>Họ tên<label>*</label></span>
                        @Html.TextBoxFor(model=>model.FullName)
                    </div>
                    <div>
                        <span>Email<label>*</label></span>
                        @Html.TextBoxFor(model => model.Email)
                    </div>
                    <div>
                        <span>Địa chỉ<label>*</label></span>
                        @Html.TextBoxFor(model => model.Address)
                    </div>
                    <div>
                        <span>Điện thoại<label>*</label></span>
                        @Html.TextBoxFor(model => model.PhoneNumber)
                    </div>
                    <div>
                        <span>Tài khoản<label>*</label></span>
                        @Html.TextBoxFor(model => model.UserName)
                    </div>
                    <div>
                        <span>Mật khẩu<label>*</label></span>
                        @Html.PasswordFor(model => model.Password)
                    </div>
                    <div class="clearfix"> </div>     
                </div>
 
                    <div class="register-but">

                        <input type="submit" value="submit">
                        <div class="clearfix"> </div>

                    </div>
            }

        </div>
    </div>
</div>

