@model IEnumerable<TeduShop.Web.Models.ProductCategoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listLastestProduct = (IEnumerable<TeduShop.Web.Models.ProductViewModel>)ViewBag.lastestProductView;
    var listTopHotProduct = (IEnumerable<TeduShop.Web.Models.ProductViewModel>)ViewBag.topHotProductView;
    var listSlides = (IEnumerable<TeduShop.Web.Models.SlideViewModel>)ViewBag.listSlideViewModel;
}

@section slider{
    <div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            @foreach (var slide in listSlides)
            {
                <li>
                    <img src="@slide.Image" class="img-responsive" alt="@slide.Name" />
                    <div class="banner_desc">
                        @Html.Raw(slide.Content)
                    </div>
                </li>
            }

        </ul>
    </div>
</div>
}

@section productCategory{
    <div class="col-md-3 sidebar_box">
        <div class="sidebar">
            <div class="menu_box">
                <h3 class="menu_head">Danh mục sản phẩm</h3>
                <ul class="menu">
                        @foreach (var category in Model.Where(x => x.ParentID == null))
                        {
                            var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
                            var childCategories = Model.Where(x => x.ParentID == category.ID);
                            <li class="item1">
                                <a href="@url">@Html.Raw(childCategories.Count()>0 ? " <img class=\"arrow-img\" src=\"/Assets/images/f_menu.png\" alt=\"\" />" : "") @category.Name</a>
                                @if (childCategories.Count() > 0)
                                {
                                    <ul class="cute">
                                        @foreach (var childCategory in childCategories)
                                        {
                                            var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                            <li class="subitem1"><a href="@childUrl">@childCategory.Name </a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }


                    </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                           menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
            </script>
        </div>
        <div class="delivery">
            <img src="/Assets/images/delivery.jpg" class="img-responsive" alt="" />
            <h3>Delivering</h3>
            <h4>World Wide</h4>
        </div>
        <div class="twitter">
            <h3>Latest From Twitter</h3>
            <ul class="twt1">
                <i class="twt"> </i>
                <li class="twt1_desc"><span class="m_1"></span> to popular belief, Lorem Ipsum is<span class="m_1"> not simply</span></li>
                <div class="clearfix"> </div>
            </ul>
            <ul class="twt1">
                <i class="twt"> </i>
                <li class="twt1_desc"><span class="m_1">There are many</span> variations of passages of Lorem Ipsum available, but the majority <span class="m_1">have suffered</span></li>
                <div class="clearfix"> </div>
            </ul>
            <ul class="twt1">
                <i class="twt"> </i>
                <li class="twt1_desc"><span class="m_1">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <span class="m_1">been the industry's standard dummy text ever</span></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="clients">
            <h3>Our Happy Clients</h3>
            <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</h4>
            <ul class="user">
                <i class="user_icon"></i>
                <li class="user_desc"><a href="#"><p>John Doe, Company Info</p></a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>
}

<div class="col-md-9 content_right">
    <h4 class="head">Sản phẩm<span class="m_2"> mới nhất</span></h4>
    <div class="top_grid2">
        @foreach (var product in listLastestProduct)
        {
             var url = "/" + product.Alias + ".p-" + product.ID + ".html";
            <div class="col-md-4 top_grid1-box1">
                <a href="@url">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="@product.ThumbnailImage" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>@product.Name</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left"><p>$@product.Price.ToString("N0")</p></li>
                                <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It" data-id="@product.ID" id="btnAddToCart">Thêm</div></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        }
        
        <div class="clearfix"> </div>
    </div>
    <h4 class="head">Sản phẩm bán <span class="m_2">chạy nhất</span></h4>
    <div class="top_grid2">
        @foreach (var product in listTopHotProduct)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html";
            <div class="col-md-4 top_grid1-box1">
                <a href="@url">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="@product.ThumbnailImage" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>@product.Name</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left"><p>$@product.Price.ToString("N0")</p></li>
                                <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It" data-id="@product.ID" id="btnAddToCart">Thêm</div></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        }
        
        <div class="clearfix"> </div>
    </div>

</div>



