@model IEnumerable<TeduShop.Web.Models.ProductCategoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listLastestProduct = (IEnumerable<TeduShop.Web.Models.ProductViewModel>)ViewBag.lastestProductView;
    var listTopHotProduct = (IEnumerable<TeduShop.Web.Models.ProductViewModel>)ViewBag.topHotProductView;
    var listSlides = (IEnumerable<TeduShop.Web.Models.SlideViewModel>)ViewBag.listSlideViewModel;
}

@section slider{
    <div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            @foreach (var slide in listSlides)
            {
                <li>
                    <img src="@slide.Image" class="img-responsive" alt="@slide.Name" />
                    <div class="banner_desc">
                        @Html.Raw(slide.Content)
                    </div>
                </li>
            }

        </ul>
    </div>
</div>
}

@section productCategory{
    <div class="col-md-3 sidebar_box">
        <div class="sidebar">
            <div class="menu_box">
                <h3 class="menu_head">Danh mục sản phẩm</h3>
                <ul class="menu">
                        @foreach (var category in Model.Where(x => x.ParentID == null))
                        {
                            var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
                            var childCategories = Model.Where(x => x.ParentID == category.ID);
                            <li class="item1">
                                <a href="@url">@Html.Raw(childCategories.Count()>0 ? " <img class=\"arrow-img\" src=\"/Assets/images/f_menu.png\" alt=\"\" />" : "") @category.Name</a>
                                @if (childCategories.Count() > 0)
                                {
                                    <ul class="cute">
                                        @foreach (var childCategory in childCategories)
                                        {
                                            var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                            <li class="subitem1"><a href="@childUrl">@childCategory.Name </a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }


                    </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                           menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
            </script>
        </div>
        <div class="delivery">
            <a href="https://www.thegioididong.com/dtdd/microsoft-lumia-540" target="_blank"><img src="/Assets/images/timthumb.jpg" class="img-responsive" alt="" /></a>
        </div>
        <div class="twitter">
            <a href="http://equest.edu.vn/" target="_blank"><img src="~/Assets/images/NOEL.jpg" class="img-responsive" /></a>
        </div>
    </div>
}

<div class="col-md-9 content_right">
    <h4 class="head">Sản phẩm<span class="m_2"> mới nhất</span></h4>
    <div class="top_grid2">
        @foreach (var product in listLastestProduct)
        {
             var url = "/" + product.Alias + ".p-" + product.ID + ".html";
            <div class="col-md-4 top_grid1-box1">
                <a href="@url">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="@product.ThumbnailImage" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>@product.Name</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left"><p>@product.Price.ToString("N0") VNĐ</p></li>
                                <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline btnAddToCart" target="_self" title="Get It" data-id="@product.ID">Thêm</div></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        }
        
        <div class="clearfix"> </div>
    </div>
    <h4 class="head">Sản phẩm bán <span class="m_2">chạy nhất</span></h4>
    <div class="top_grid2">
        @foreach (var product in listTopHotProduct)
        {
            var url = "/" + product.Alias + ".p-" + product.ID + ".html";
            <div class="col-md-4 top_grid1-box1">
                <a href="@url">
                    <div class="grid_1">
                        <div class="b-link-stroke b-animate-go  thickbox">
                            <img src="@product.ThumbnailImage" class="img-responsive" alt="" />
                        </div>
                        <div class="grid_2">
                            <p>@product.Name</p>
                            <ul class="grid_2-bottom">
                                <li class="grid_2-left"><p>@product.Price.ToString("N0") VNĐ</p></li>
                                <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline btnAddToCart" target="_self" title="Get It" data-id="@product.ID">Thêm</div></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        }
        
        <div class="clearfix"> </div>
    </div>

</div>



